$font-measure: 16px;
$increment: 0.25rem;

$color-text: #0b0c0c;
$color-text-secondary: #505a5f;
$color-blue: #1d70b8;
$color-green: #00703c;
$color-background: #dfe2e2;

@function px-to-rem($px) {
  @return ($px / $font-measure) * 1rem;
}

@mixin font-sizing($font-size, $line-height) {
  $font-size-in-rem: px-to-rem($font-size);

  font-size: $font-size-in-rem;
  line-height: $line-height/ $font-size;
}

@mixin f1 {
  @include font-sizing(48px, 48px);
  @media screen and (min-width: px-to-rem(690px)) {
    @include font-sizing(64px, 64px);
  }
}

@mixin f2 {
  @include font-sizing(32px, 32px);
  @media screen and (min-width: px-to-rem(690px)) {
    @include font-sizing(40px, 40px);
  }
}

@mixin f3 {
  @include font-sizing(20px, 28px);
  @media screen and (min-width: px-to-rem(690px)) {
    @include font-sizing(24px, 32px);
  }
}

@mixin f4 {
  @include font-sizing(18px, 28px);
}

@mixin f5 {
  @include font-sizing(16px, 24px);
}

@mixin f6 {
  @include font-sizing(14px, 20px);
}
