@use 'utils';
@use 'settings';

header {
  max-width: utils.px-to-rem(900px);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 2rem auto 5rem;
  @media screen and (min-width: utils.px-to-rem(settings.$breakpoint)) {
    margin: 5rem auto 8rem;
  }
}

.header--title {
  @include utils.f3;
  font-weight: bold;
  color: settings.$color-text;
  flex-shrink: 0;
}

.header--title:link,
.header--title:visited {
  color: settings.$color-text;

  &:hover,
  &:active {
    color: settings.$color-text;
  }
}

header > nav {
  @include utils.f4;
}

.nav-submenu,
.nav-submenu--open {
  text-align: right;
  position: relative;
  width: 100%;
}

.nav-submenu > ul {
  display: none;
}

.nav-submenu--open > ul {
  display: block;
}

.nav-submenu__list {
  list-style: none;
  padding-left: 0;
  text-align: right;
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
}

.nav-submenu__title:link,
.nav-submenu__title:visited {
  color: settings.$color-text;
  text-decoration: none;

  &:hover,
  &:active {
    color: settings.$color-text;
  }
}

.nav-submenu__item:link,
.nav-submenu__item:visited {
  color: settings.$color-text-secondary;
  text-decoration: none;

  &:hover,
  &:active {
    color: settings.$color-text;
  }
}

.beta-banner {
  display: block;
  top:0px;
  left:0px;
  width:auto;
  padding:0.75rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top:0.5rem;
  text-align: center;
  background-color: settings.$color-background;
}
