@use 'base';

header {
  max-width: base.px-to-rem(900px);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 2rem auto 5rem;
  @media screen and (min-width: base.px-to-rem(base.$breakpoint)) {
    margin: 5rem auto 8rem;
  }
}

.header--title {
  @include base.f3;
  font-weight: bold;
  color: base.$color-text;
  flex-shrink: 0;
}

.header--title:link,
.header--title:visited {
  color: base.$color-text;

  &:hover,
  &:active {
    color: base.$color-text;
  }
}

header > nav {
  @include base.f4;
}

.nav-submenu,
.nav-submenu--open {
  text-align: right;
  position: relative;
  width: 100%;
}

.nav-submenu > ul {
  display: none;
}

.nav-submenu--open > ul {
  display: block;
}

.nav-submenu__list {
  list-style: none;
  padding-left: 0;
  text-align: right;
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
}

.nav-submenu__title:link,
.nav-submenu__title:visited {
  color: base.$color-text;
  text-decoration: none;

  &:hover,
  &:active {
    color: base.$color-text;
  }
}

.nav-submenu__item:link,
.nav-submenu__item:visited {
  color: base.$color-text-secondary;
  text-decoration: none;

  &:hover,
  &:active {
    color: base.$color-text;
  }
}
