@use 'base';

.landing--title {
  @media screen and (min-width: base.px-to-rem(base.$breakpoint)) {
    margin-bottom: 6rem;
  }
}

.landing--blurb {
  @include base.font-sizing(20px, 25px);
  @media screen and (min-width: base.px-to-rem(base.$breakpoint)) {
    @include base.font-sizing(22px, 30px);
  }
  margin-bottom: 0.5rem;
}

.for-authors--item {
  display: grid;
  margin-top: 3rem;
}

.for-authors--heading {
  grid-column: 1/3;
  margin-top: 0;
  @media screen and (min-width: base.px-to-rem(base.$breakpoint)) {
    grid-column: 2;
  }
}

.for-authors--icon {
  grid-column: 1;
  max-height: base.px-to-rem(96px);
  margin-right: 1rem;
  @media screen and (min-width: base.px-to-rem(base.$breakpoint)) {
    grid-row: 1/3;
    margin-right: 2rem;
  }
}

.for-authors--text {
  grid-column: 2;
  margin-bottom: 0rem;
}
