@use 'base';

.landing--title {
  @media screen and (min-width: base.px-to-rem(base.$breakpoint)) {
    margin-bottom: 6rem;
  }
}

.landing--blurb {
  @include base.f3;
  margin-bottom: 0.5rem;
}

.for-authors--item {
  display: flex;
}

.for-authors--icon {
  margin-right: 1rem;
  max-width: 30vw;
  max-height: base.px-to-rem(96px);
}

.for-authors--text {
  margin-bottom: 0rem;
}
