@use 'base';

.landing--blurb {
  @include base.f3;
  margin-bottom: 0.5rem;
}

.for-authors--item {
  display: flex;
}

.for-authors--icon {
  margin-right: 1rem;
  font-size: 4rem;
}

.for-authors--text {
  margin-bottom: 0rem;
}
