@use 'utils';
@use 'settings';

main.paper {
  max-width: utils.px-to-rem(900px);

  .search {
    margin-bottom: 4rem;
  }

  .publications__item__info__title {
    @include utils.f3;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    font-weight: bold;
  }

  .pathway-status {
    @include utils.font-sizing(20px, 25px);
    @media screen and (min-width: utils.px-to-rem(settings.$breakpoint)) {
      @include utils.font-sizing(22px, 30px);
    }
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  p + ul {
    margin-top: -1rem;
  }
}

.whos-publication {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  margin-top: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: settings.$color-background;

  @media screen and (min-width: utils.px-to-rem(settings.$breakpoint)) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    margin-left: -75%;
    margin-right: -75%;
    padding-left: 75%;
    padding-right: 75%;
  }
}

.whos-publication--title {
  @include utils.f3;
  display: block;
  font-weight: bold;
  max-width: 100%;
  margin-bottom: 1rem;
}

.whos-publication__item {
  display: grid;
  grid-template-columns: 2rem minmax(0, 1fr);
  grid-template-rows: auto 1fr;
}

.whos-publication--title {
  grid-column: 1/-1;
  min-height: 0;
}

.whos-publication--details {
  grid-column: 2;
  margin-bottom: 1rem;
}

.material-icons {
  grid-column: 1;
  font-size: 1.5rem;
}
