@use 'utils';

main.paper {
  max-width: utils.px-to-rem(900px);

  .search {
    margin-bottom: 4rem;
  }

  .publications__item__info__title {
    @include utils.f3;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    font-weight: bold;
  }
}
