@use 'utils';
@use 'settings';

main.paper {
  max-width: utils.px-to-rem(900px);

  .search {
    margin-bottom: 4rem;
  }

  .publications__item__info__title {
    @include utils.f3;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    font-weight: bold;
  }

  .pathway-status {
    @include utils.font-sizing(20px, 25px);
    @media screen and (min-width: utils.px-to-rem(settings.$breakpoint)) {
      @include utils.font-sizing(22px, 30px);
    }
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
