@use 'utils';
@use 'settings';

._oab_restart {
  display: none !important;
}

#_oab_deposit {
  border: 1px solid settings.$color-green;
  background-color: settings.$color-green;
  color: white;
}

main.shareyourpaper {
  .publications__item__info__title {
    @include utils.f3;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    font-weight: bold;
  }
}
