@use 'base';
@use 'normalize';

html {
  font-size: (base.$font-measure / 16px) * 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, sans-serif;
  color: base.$color-text;
  padding: 0 1rem;
}

header {
  max-width: 1100px;
  margin: 5rem auto 7rem;
}

.header--title {
  @include base.f2;
  font-weight: bold;
}

main {
  max-width: 900px;
  margin: 0 auto 5rem;
}

footer {
  text-align: center;
  color: base.$color-text-secondary;
  margin: 0 auto 3rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1,
h2 {
  margin-top: 4rem;
}

h3,
h4,
h5 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h1 {
  @include base.f1;
  margin-bottom: 4rem;
}

h2 {
  @include base.f2;
  margin-bottom: 2rem;
}

h3 {
  @include base.f3;
}

h4 {
  @include base.f4;
}

h5 {
  @include base.f5;
}

p {
  @include base.f5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul,
ol {
  margin: 0 0 1.5rem;
}

li {
  @include base.f5;
  margin: 0 0 0.5rem;
}

small {
  @include base.f6;
  margin-top: 0;
}

a:link,
a:visited {
  color: base.$color-blue;
  text-decoration: none;

  &:hover,
  &:active {
    color: base.$color-blue;
  }
}
