@use 'base';
@use 'normalize';

html {
  font-size: (base.$font-measure / 16px) * 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, sans-serif;
}

header {
  max-width: 1100px;
  margin: auto;
}

.header--title {
  @include base.f3;
  font-weight: bold;
}

main {
  max-width: 900px;
  margin: auto;
}

footer {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  @include base.f1;
}

h2 {
  @include base.f2;
}

h3 {
  @include base.f3;
}

h4 {
  @include base.f4;
}

h5 {
  @include base.f5;
}

p {
  @include base.f5;
}

small {
  @include base.f6;
}
