<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="robots" content="none" />
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Free Your Science{% endblock %}</title>

    <link rel="stylesheet" href="static/style.css">

    {% block header %}{% endblock %}

</head>

<body>
    <header>
        <a href="/" class="header--title">Free Your Science</a>
        <nav class="nav-submenu">
            <a href="#" class="nav-submenu__title" aria-haspopup="true" aria-expanded="false">About</a>
            <ul class="nav-submenu__list">
                <li><a href="/legal" class="nav-submenu__item">Re-publishing</a></li>
                <li><a href="/team" class="nav-submenu__item">Team</a></li>
                <li><a href="#" class="nav-submenu__item">Technology</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <small>
            Built and run by Daniel Harhoff and Lukas Grossberger<br />
            Contact us via <a href="mailto:team@freeyourscience.org">team@freeyourscience.org</a>
        </small>
    </footer>
</body>

<script>
    var menuItems = document.querySelectorAll('.nav-submenu');
    Array.prototype.forEach.call(menuItems, function(el, i){
        el.querySelector('a').addEventListener("click",  function(event){
            if (this.parentNode.className == "nav-submenu") {
                this.parentNode.className = "nav-submenu--open";
                this.setAttribute('aria-expanded', "true");
            } else {
                this.parentNode.className = "nav-submenu";
                this.setAttribute('aria-expanded', "false");
            }
            event.preventDefault();
            return false;
        });
    });
</script>

</html>