{% extends "base.html" %}
{% block content %}
<main class="my-5">
    <section class="container mb-5">
        <h2 class="fs-3">
            Glossary
        </h2>
        <p>Here you can find an overview of the most relevant terms.</p>
    </section>
    <section class="container mb-5">
        <h3 class="fs-4">
            open access
        </h3>
        <p>...</p>
    </section>
    <section class="container mb-5">
        <h3 class="fs-4">
            Re-Publication
        </h3>
        <p>...</p>
    </section>
    <section class="container mb-5">
        <h3 class="fs-4">
            Article Versions
        </h3>
        <p>...</p>
    </section>
    <section class="container mb-5">
        <h3 class="fs-4">
            Re-Publication Locations
        </h3>
        <p>...</p>
    </section>
</main>
{% endblock %}