{% extends "base.html" %}
{% block content %}
<main>
    <h1>How to re-publish?</h1>
    <p>
        We provide you with six relevant steps and the matching entrypoints for
        the most common open access re-publication workflows.
    </p>
    <h2>1. Find the correct version of your manuscript</h2>
    <h3>Published version</h3>
    <p>
        Version of a manuscript published by e.g. a journal.
        This is usually a PDF file that has the journals logo and copyright notice on it and is typeset to the style
        of the journal.
    </p>
    <h3>Accepted version</h3>
    <p>
        Final version of the manuscript sent by the author(s) to the publisher.
        This is the result of the peer review process and includes changes and corrections by the author(s), but not
        the copy-editing and typesetting done by the publisher.
        Content should be the same as the published version, but appearance might differ strongly.
    </p>
    <h3>Submitted version</h3>
    <p>
        What was initially submitted for peer review.
        Content might differ strongly from the accepted version.
    </p>
    <p>
        See also the <a href="https://unlockingresearch-blog.lib.cam.ac.uk/?p=1872">blog post on this topic</a> by the
        University of Cambridge Office of Scholarly Communication.
    </p>
    <small>
        We always propose the most mature version of the manuscript, in case you
        can not find the one we propose but an earlier one, double check the
        pathway details in the Sherpa policy database for what other versions
        are allowed.
    </small>
    <h2>2. Check the prerequisites</h2>
    <p></p>
    <h2>3. Choose an appropriate repository</h2>
    <p></p>
    <h2>4. Check with your co-authors</h2>
    <p></p>
    <h2>5. Upload to repository</h2>
    <p></p>
    <h2>6. Link back to the paywalled version</h2>
    <p>
        To ensure compliance with the publisher's policy and to make sure your
        readers cite the correct version, make sure that the re-published version
        links to the main, paywalled publication.
        This can be achieved by adding a note like
        "Published in Dragon Paywall Journal 10.200/123.123"
        to the open access publication's page header.
    </p>
</main>
{% endblock %}