{% extends "base.html" %}
{% block content %}
<main>
    <h1>How to re-publish?</h1>
    <p>
        We provide you with six relevant steps and the matching entrypoints for the most
        common open access re-publication workflows.
    </p>
    <ol>
        <li><a href="#version">Find the correct version of your manuscript</a></li>
        <li><a href="#prerequisites">Check the prerequisites</a></li>
        <li><a href="#repository">Choose an appropriate repository</a></li>
        <li><a href="#coauthors">Check with your co-authors</a></li>
        <li><a href="#upload">Upload to repository</a></li>
        <li><a href="#linkback">Link back to the paywalled version</a></li>
    </ol>
    <h2 id="version">1. Find the correct version of your manuscript</h2>
    <p>
        The pathway we find for your article will specify which version of the manuscript you are allowed to re-publish.
        The specified version will be one of three manuscript states.
    </p>
    <dl>
        <dt>Published version</dt>
        <dd>
            Version of a manuscript published by e.g. a journal.
            This is usually a PDF file that has the journals logo and copyright notice on it and is typeset to the
            style of the journal.
        </dd>
        <dt>Accepted version</dt>
        <dd>
            Final version of the manuscript sent by the author(s) to the publisher.
            This is the result of the peer review process and includes changes and corrections by the author(s), but
            not the copy-editing and typesetting done by the publisher.
            Content should be the same as the published version, but appearance might differ strongly.
        </dd>
        <dt>Submitted version</dt>
        <dd>
            What was initially submitted for peer review.
            Content might differ strongly from the accepted version.
        </dd>
    </dl>
    <p>
        The University of Cambridge Office of Scholarly Communication has a <a href="https://unlockingresearch-blog.lib.cam.ac.uk/?p=1872">blog post with more in depth explanations</a>.
    </p>
    <small>
        We always display the pathway that allows the most mature version of the manuscript to be re-published.
        If you no longer have the version specified by the pathway you might also be allowed to re-publish an earlier one.
        Check the pathway details in the Sherpa policy database for what other versions are allowed.
        You will find a <em>Visit this policy</em> link in the pathway result that takes you there.
    </small>

    <h2 id="prerequisites">2. Check the prerequisites</h2>
    <p></p>
    <h2 id="repository">3. Choose an appropriate repository</h2>
    <p></p>
    <h2 id="coauthors">4. Check with your co-authors</h2>
    <p></p>
    <h2 id="upload">5. Upload to repository</h2>
    <p></p>
    <h2 id="linkback">6. Link back to the paywalled version</h2>
    <p>
        To ensure compliance with the publisher's policy and to make sure your readers
        cite the correct version, make sure that the re-published version links to the
        main, paywalled publication.
        This can be achieved by adding a note like "Published in Dragon Paywall Journal
        doi: 10.200/123.123" to the page header in the open access version.
    </p>
</main>
{% endblock %}