{% extends "base.html" %}
{% block content %}
<main>
    <h1>How to re-publish?</h1>
    <p>
        We provide you with six relevant steps and the matching entrypoints for the most
        common open access re-publication workflows.
    </p>
    <h2>1. Find the correct version of your manuscript</h2>
    <!-- TODO: Duplication with republishing.html -->
    <h3>Published version</h3>
    <p>
        Version of a manuscript published by e.g. a journal.
        This is usually a PDF file that has the journals logo and copyright notice on it
        and is typeset to the style
        of the journal.
    </p>
    <h3>Accepted version</h3>
    <p>
        Final version of the manuscript sent by the author(s) to the publisher.
        This is the result of the peer review process and includes changes and
        corrections by the author(s), but not the copy-editing and typesetting done by
        the publisher.
        Content should be the same as the published version, but appearance might differ
        strongly.
    </p>
    <h3>Submitted version</h3>
    <p>
        What was initially submitted for peer review.
        Content might differ strongly from the accepted version.
    </p>
    <p>
        See also the <a href="https://unlockingresearch-blog.lib.cam.ac.uk/?p=1872">blog
            post on this topic</a> by the University of Cambridge Office of Scholarly
        Communication.
    </p>
    <small>
        We always propose the most mature version of the manuscript, in case you can not
        find the one we propose but an earlier one, double check the pathway details in
        the Sherpa policy database for what other versions are allowed.
    </small>
    <h2>2. Check the prerequisites</h2>
    <p>
        Each open access re-publication pathway has conditions attached that you need to
        fulfill.
        Common conditions include embargos like "12 months have passed since
        publication" and linking back to the publisher's version of the publication.
        It is also a common requirement to include a specific statement as per the
        publisher's policy.
        You can check the links section in the pathway details or view the policy
        directly at the Sherpa policy source database for details about all the policy
        details.
    </p>
    <h2>3. Choose an appropriate repository</h2>
    <p>
        It is considered best practice to pick the location for re-publishing that is
        best networked into the existing open access discovery mechanisms and platforms.
        Specifically this means institutional, subject and preprint repositories.
        These repositories are like digial libraries that are automatically indexed to
        make it easy for people searching the web for your publication to find it.
    </p>
    <h2>4. Check with your co-authors</h2>
    <!-- TODO: Duplication with republishing.html -->
    <p>
        A frequent question by authors is whether they have to get their co-authors to
        consent before re-publishing a manuscript.
        We can not answer this question for all cases, as copyright law, publisher
        policy and publication contracts could vary greatly.
        Furthermore we are not trained legal experts.
    </p>
    <p>
        What we can say is:
    </p>
    <ul>
        <li>
            It probably doesn't hurt and we would hope that most scientist agree that
            open access re-publication is to the benefit authors, science and society.
        </li>
        <li>
            In <a href="">German copyright</a> joint authorship means that copyright is
            held jointly, meaning that publication decisions have to have the consent of
            all authors.
            It is worth noting that these decisions fall under
            <a href="">good faith</a>, so authors can't arbitrarily withhold their
            consent.
        </li>
    </ul>
    <h2>5. Upload to repository</h2>
    <p></p>
    <h2>6. Link back to the paywalled version</h2>
    <p>
        To ensure compliance with the publisher's policy and to make sure your readers
        cite the correct version, make sure that the re-published version links to the
        main, paywalled publication.
        This can be achieved by adding a note like "Published in Dragon Paywall Journal
        doi: 10.200/123.123" to the page header in the open access version.
    </p>
</main>
{% endblock %}