{% extends "base.html" %}
{% block content %}
<div class="container">
	<header class="container fs-2 lh-sm mt-5 mb-5 text-center">
		<div class="row row-cols-2 justify-content-md-center">
			<div class="col text-end border-end">
				<span class="fw-bold fs-1">46.7 million</span><br />
				publications
			</div>
			<div class="col text-start">
				can be made open access<br />
				for free<br />
				today
			</div>
		</div>
	</header>

	<main>
		<section class="container mb-5 text-center">
			<h2 class="fs-3">
				Find papers to liberate
			</h2>
			<div class="container fs-6 mt-2">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="search-type" id="search-type-authors"
						value="option1" checked>
					<label class="form-check-label" for="search-type-authors">by Author</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="search-type" id="search-type-papers"
						value="option2">
					<label class="form-check-label" for="search-type-papers">by DOI</label>
				</div>
			</div>
			<form method="GET" action="/authors" id="search-form">
				<div class="row justify-content-md-center row-cols-lg-auto mt-1">
					<div class="col-12 p-1">
						<label class="visually-hidden" for="search-field">Search</label>
						<input type="text" name="profile" class="form-control" id="search-field"
							placeholder="ORCID or Semantic Scholar Profile" required>
					</div>
					<div class="col-12 p-1">
						<button type="submit" class="btn btn-secondary">Search</button>
					</div>
				</div>
				<small class="fs-6">The search might take a minute.</small>
			</form>
		</section>

		<section class="container mb-5">
			<h2 class="fs-4">
				Why is this allowed?
			</h2>
			<p class="fs-5">
				{#
				- contrast expectation
				- allowed to re-publish
				- re-publish in free archives / locations
				- open access works separate from the journals (but with consent/conditions); directly linked to
				original
				pub,
				citations stay, but more accessible to the world
				- often no cost
				#}
				Still, to this day, some of the main journals require expensive subscriptions to get back to the
				research of our colleagues and your own institution.
				However, in many cases the publishers allow publishing a freely accessible version of the paper,
				separate from the journal.
				<br />
				The papers could for example be uploaded via your institution's archive, a preprint server like
				arXiv.org or others.
				Usually it is required and even beneficial to link from these free versions to the paywalled journal
				publication.
				This helps to make sure that other publications end up citing the main version of the paper.
				At the same time, having a free copy available, more people are able to find your research.
				<br />
				All this can often be done without any additional fees paid to the publisher.
			</p>
		</section>

		<section class="container mb-5">
			<h2 class="fs-4">
				Technical Background
			</h2>
			<p class="fs-5">
				{# TODO: Ask if we can use logos of our data partners.
				- existing services, amazing
				- combine existing information
				- not a lawyer
				- how we arrive at the number in the header
				- offer this page, but also work on a machine readable interface to give back to open science api
				ecosystem
				#}
				We build on a set of wonderful existing services that try to make scientific works more accessible.
				<br />
				From <a href="https://unpaywall.org/" target="_blank" class="link-secondary">unpaywall.org</a>
				we use the dataset to determine the number at the very top of the page and the API to look up if Open
				Access versions exist for a specific DOI.
				We use the API of
				<a href="https://www.semanticscholar.org/" target="_blank" class="link-secondary">Semantic Scholar</a>
				to fill in missing Open Access versions and leverage their author profiles as an entry point to get all
				papers by author.
				To allow search by ORCID, we leverage the
				<a href="https://members.orcid.org/api" target="_blank" class="link-secondary">ORCID API</a>.
				Our search by author name is powered by the API at
				<a href="https://www.crossref.org/" target="_blank" class="link-secondary">Crossref</a>.
				We heavily rely on their databases being correct and so appreciate the service they offer to the world.
				Given that we've found a paper with its venue's ISSN, we use the
				<a href="https://v2.sherpa.ac.uk/" target="_blank" class="link-secondary">Sherpa API</a>
				to determine the Open Access friendliness of the matching publisher policy.
				<br />
				It is important to note that all information on freeyourscience.org is meant to facilitate, to educate
				fellow authors about which Open Access re-publication possibilities to look into.
				No information shown here necessarily forms any basis for legal claims towards authors, publishers or
				any other party.
				<br />
				If you are curious about how we end up at the number at the top of the page, please feel free to check
				out the analysis pipeline we used to calculate that number in December 2020 over in the
				<a href="https://github.com/freeyourscience/fyscience-app" target="_blank" class="link-secondary">
					freeyourscience GitHub repository</a>.
				<br />
				While our main goal is to provide this web based tool for fellow humans, like authors and interested
				people, we are also working on a machine readable interface to the information we merge from the
				different sources.
				You can have a look at our <a href="/docs" class="link-secondary">OpenAPI specification</a> and should
				be able to use the
				<span class="font-monospace">/authors</span> and
				<span class="font-monospace">/papers</span> endpoints with an
				<span class="font-monospace">application/json</span> accept header to get the content as JSON instead of
				HTML.
				Should you want to use our API or in case you still feel like you are missing features, please contact
				us via <a href="mailto:team@freeyourscience.org" class="link-secondary">team@freeyourscience.org</a>
			</p>
		</section>

		<section class="container mb-5">
			<h2 class="fs-4">
				Our Motivation
			</h2>
			<p class="fs-5">
				{#
				- background:
				-- enjoy collaborative spirit of globally networked academic communities
				-- foster accessibility and collaboration
				-- can't stand when information that should be freely accessible is unnecessarily hidden behind paywalls
				- strategy:
				-- tbd
				- for authors:
				-- enable to discover the potential they have with past publications
				- for institutions:
				-- call us
				#}
				We are two open science enthusiasts. Having worked in different positions of academia, from being an
				author to supporting institutions with grant writing and being part of the publisher side of things, we
				have come to appreciate the open and collaborative spirit of the academic community but also came to
				acknowledge the constraints that still restrict the accessibility of scientific results.<br />
				Our goal is to foster accessibility and collaboration in the beautiful, globally networked academic
				communities.
				Also, we just can't stand when information that should be freely accessible is unnecessarily hidden
				behind paywalls.<br />
				Accordingly, our strategy is to create awareness about the potential that publisher's Open Access
				policies bear.
				And for authors and other interested individuals, provide a tool to discover the potential that they
				have to increase the amount of Open Access publications just based on what they already published.
			</p>
		</section>
	</main>

	<footer class="container fs-6 text-center mb-3">
		<small>
			Built and run by Daniel Harhoff and Lukas Grossberger<br />
			Contact us via <a href="mailto:team@freeyourscience.org">team@freeyourscience.org</a>
		</small>
	</footer>
</div>

<script type="text/javascript">
	document.getElementById('search-type-authors').addEventListener('click', () => {
		document.getElementById('search-field').placeholder = "ORCID or Semantic Scholar Profile URL"
		document.getElementById('search-field').name = "profile"
		document.getElementById('search-form').action = "/authors"
	});
	document.getElementById('search-type-papers').addEventListener('click', () => {
		document.getElementById('search-field').placeholder = "e.g. 0000-1234-1212-1234"
		document.getElementById('search-field').name = "doi"
		document.getElementById('search-form').action = "/papers"
	});
</script>
{% endblock %}