{% import 'search_macros.html' as search %}
{% extends "base_nobs.html" %}
{% block content %}
<div>
	<main>
		<ol>
			<li>
				<div>
					<h2>Find your paywalled publications</h2>
					<p> Paywalls make it harder for other researchers to use and cite your work. </p>
					{{ search.form("") }}
				</div>
			</li>
			<li>
				<div>
					<h2> Learn about Open Access pathways</h2>
					<p> Many publishers have policies that allow for no-cost re-publication. </p>
				</div>
			</li>
			<li>
				<div>
					<h2>Re-publish your work Open Access</h2>
					<p> Upload an additional version of your work to e.g. arXiv or your library in accordance with the
						publisher policy.<br />
						Figure out <a href="/republish">the basics of re-publication</a>.
					</p>
				</div>
			</li>
		</ol>
		<p>
			Learn more about the
			<a href="/team">team</a>,
			how this is <a href="/legal">legal</a>,
			what all these <a href="/about">words</a>
			about Open Sciences mean.
		</p>
	</main>
</div>

{% endblock %}