{% import 'search_macros.html' as search %}
{% extends "base_nobs.html" %}
{% block content %}
<main>
	<h1 class="landing--title">Re-publish your paywalled work open access today for free</h1>
	<p class="landing--blurb">Find publications of yours with free open access pathways.</p>
	{{ search.form("", "") }}
	<section>
		<h2>What we provide for authors</h2>
		<p>Free Your Science is out to show authors like you which of your paywalled publications you can re-publish
			open access today and how to do it.</p>

		<div class="for-authors--item">
			<h3 class="for-authors--heading">Find your paywalled publications</h3>
			<img class="for-authors--icon" src="/static/img/search-paywalled.svg">
			<p class="for-authors--text">
				Publishers can keep your publications behind paywalls.
				This limits your scientific reach to readers with paid subscriptions.
				We help you to find these publications.
			</p>
		</div>

		<div class="for-authors--item">
			<h3 class="for-authors--heading">Identify open access pathways</h3>
			<img class="for-authors--icon" src="/static/img/pathway.svg">
			<p class="for-authors--text">
				Many publishers allow open access re-publication of your work, free of charge, today.
				Using a publisher policy database, we find the best pathway for your work to become open access.
			</p>
		</div>

		<div class="for-authors--item">
			<h3 class="for-authors--heading">Learn to re-publish open access</h3>
			<img class="for-authors--icon" src="/static/img/rocket.svg">
			<p class="for-authors--text">
				Depending on the identified pathway you can deposit your manuscript in places like arXiv or PubMed.
				Our About pages help you understand this process.
			</p>
		</div>
	</section>
</main>
{% endblock %}