{% extends "base.html" %}
{% block content %}
<main class="my-5">
    <section class="container mb-5">
        <h2 class="fs-3">
            Why is this allowed?
        </h2>
        <p>
            Paying a journal to make your research publications open access is not the only way you can liberate
            your science from paywalls and expensive journal subscriptions.
            Many publishers actually allow publishing a freely accessible version of the article, separate from the
            journal.
        </p>
        <p>
            Depending on the journal's policy, you can upload your work to an institutional archive (e.g. your
            university library), a preprint server like arXiv or your personal website.
            The policies usually distinguish between the <em>submitted</em>, <em>accepted</em> and
            <em>published</em> version of a document.
            Most often you are allowed to re-publish the <em>accepted</em> or <em>submitted</em> version, without
            having to pay the publisher.
        </p>
        <p>
            Most policies require you to link the freely accessible version back to the paywalled version.
            This helps to make sure that other publications end up citing the main version of the article.
            At the same time, having a free copy available, more people are able to find your research.
        </p>
    </section>
</main>
{% endblock %}