{% extends "base.html" %}
{% block content %}
<main class="my-5">
    <section class="container mb-5">
        <h1>
            How does this work?
        </h1>
        <p>
            Copyright, authorship and scientific publication can be a complex and at times frustrating.
            We aren't lawyers or legal experts, but hope the following can help you understand your rights as authors of scientific works.
        </p>
        <p>
            It is worth noting that a lot of the practices and terms stem from a time where science could only be published by printing physical copies and shipping them around the world.
            A stark difference to the digital reality we know inhabit.
        </p>
        <h2>
            Open Access and Re-publication
        </h2>
        <p>
            The term Open Access refers to a scientific publication being freely accessible to readers.
            No registration, membership or payments are required to access the work.
            We feel that Open Access science means better science.
        </p>
        <p>
            Funders are increasingly mandating that work shall be published open access (e.g. the <a href="https://ec.europa.eu/info/research-and-innovation/strategy/goals-research-and-innovation-policy/open-science/open-access_en">Horizon 2020</a> programme).
            In this context you might come accross <em>green</em> and <em>gold</em> open access.
        </p>
        <dl>
            <dt>
                Green open access
            </dt>
            <dd>
                Depositing a version of the manuscript in an online repository (e.g. university library or arXiv) before or after its publication in a journal or book.<br>
                Also referred to as <em>self-archiving</em> and the praxis of depositing a manuscript version open access after publication in an non open access journal is also referred to <em>re-publishing</em>.
            </dd>
            <dt>
                Gold open access
            </dt>
            <dd>
                Paying a publisher to publish the manuscript open access on their website.
            </dd>
        </dl>
        <p>
            See also the definitions and requirements by the <a href="https://ec.europa.eu/research/participants/docs/h2020-funding-guide/cross-cutting-issues/open-access-dissemination_en.htm">EU Horizon 2020 Programme</a>.
        </p>
        <h2 class="fs-3">
            When and why is this allowed?
        </h2>
        <p>
            As open access publishing is becoming good, and sometimes mandated, scientific practice, publisher have incentives to make this possible.
            Journals and publishers therefore come with a variety of fee structures and policies surrounding open access publication.
        </p>
        <p>
            But, paying a journal to make your research publications open access is not the only way you can liberate
            your science from paywalls and expensive journal subscriptions.
            Many publishers actually allow publishing a freely accessible version of the article, separate from the
            journal.
            This may actually not be out of the kindness of their heart but because a countries' copyright laws forces them to do so (e.g. Germany's <a href="https://www.bildung-forschung.digital/de/zweitveroeffentlichungsrecht-2667.html">Zweitveröffentlichungsrecht</a>).
        </p>
        <p>
            Depending on the journal's policy, you can upload your work to an institutional archive (e.g. your
            university library), a preprint server like arXiv or your personal website.
            The policies usually distinguish between the <em>submitted</em>, <em>accepted</em> and
            <em>published</em> version of a document.
            Most often you are allowed to re-publish the <em>accepted</em> or <em>submitted</em> version, without
            having to pay the publisher.
        </p>
        <p>
            Most policies require you to link the freely accessible version back to the paywalled version.
            This helps to make sure that other publications end up citing the main version of the article.
            At the same time, having a free copy available, more people are able to find your research.
        </p>
        <h2>
            Important terminology
        </h2>
        <p>
            On this page and elsewhere you will come across terms that require explanation.
            These are our attempts of explaining them, publishers interpretation or usage might deviate.
        </p>
        <h3>Manuscript versions</h3>
        <dl>
            <dt>Published version</dt>
            <dd>
                Version of a manuscript published by e.g. a journal.
                This is usually a PDF file that has the journals logo and copyright notice on it and is typeset to the style of the journal.
            </dd>
            <dt>Accepted version</dt>
            <dd>
                Final version of the manuscript sent by the author(s) to the publisher.
                This is the result of the peer review process and includes changes and corrections by the author(s), but not the copy-editing and typesetting done by the publisher.
                Content should be the same as the published version, but appearance might differ strongly.
            </dd>
            <dt>Submitted version</dt>
            <dd>
                What was initially submitted for peer review.
                Content might differ strongly from the accepted version.
            </dd>
        </dl>
        <p>
            See also the <a href="https://unlockingresearch-blog.lib.cam.ac.uk/?p=1872">blog post on this topic</a> by the Univerty of Cambridge Office of Scholarly Communication.
        </p>
        <h3>Repositories</h3>
        <p>
            Policies on self-archiving/re-publication often refer to repositories where you are allowed to deposit a manuscript.
            Repositories come in a variety of forms, but are generally preferable to hosting the manuscript on a personal or institutions website.
            Repositories are often indexed by scholarly search engines and tools like <a href="https://unpaywall.org">Unpaywall</a>.
        </p>
        <p>
            By using indexed repositories you can not only make your work open access but also more discoverable.
        </p>
        <p>
            Usually you can either use an <em>institutional</em> or <em>subject</em> repository.
            Examples are:
        </p>
        <ul>
            <li><a href="https://arxiv.org/">arXiv</a> subjects: physics, mathematics, computer science, quantitative biology, quantitative finance, statistics, electrical engineering and systems science, and economics</li>
            <li><a href="https://www.biorxiv.org/">bioRxiv</a> subject: biology</li>
            <li><a href="https://pubmed.ncbi.nlm.nih.gov/">PubMed</a> and <a href="https://europepmc.org/">Europe PMC</a> subjects: health-related sciences</li>
            <li><a href="https://repository.helmholtz-hzi.de/hzi/">HZI repository</a> institution: Helmholtz Centre for Infection research</li>
            <li><a href="https://qmro.qmul.ac.uk/xmlui/">QMRO</a> institution: Queen Mary University of London</li>
        </ul>
        <p>See also the <a href="https://www.qmul.ac.uk/library/research/open-access/what-is-a-repository/">explanation of repositories</a>  by Queen Mary's library.</p>
        <p>To find open access repositories you can use <a href="https://v2.sherpa.ac.uk/opendoar/index.html">OpenDOAR</a>.</p>
        <p>To ensure that your open access version of a manuscript can easily be found check the <a href="https://unpaywall.org/sources">list of sources for Unpaywall</a>.</p>
    </section>
</main>
{% endblock %}