{% macro plaintext(permissions) -%}
{% for permitted_oa in permissions %}
<li>
    {#
        Available keys (see permitted_oa at https://v2.sherpa.ac.uk/api/metadata-schema.html):
            prerequisites{prerequisites, prerequisite_funders, prerequisite_subjects}
            article_version
            locations{location, named_repository, named_academic_social_network}
            embargo{amount, units}
            copyright_owner
            license[obj]
            additional_oa_fee
            conditions[str]
            publisher_deposit[obj]
            public_notes
    #}
    Prerequisites: {{ permitted_oa["prerequisites"] }}<br />
    Article Versions: {{ permitted_oa["article_version"] }}<br />
    Locations: {{ permitted_oa["location"] }}<br />
    Embargo: {{ permitted_oa["embargo"] }}<br />
    Copyright Owner: {{ permitted_oa["copyright_owner"] }}<br />
    License: {{ permitted_oa["license"] }}<br />
    Additional OA Fee: {{ permitted_oa["additional_oa_fee"] }}<br />
    Conditions: {{ permitted_oa["conditions"] }}<br />
    Notes: {{ permitted_oa["public_notes"] }}<br />
    <br />
</li>
{% endfor %}
{%- endmacro %}