{% macro minimal(paper) -%}
<div class="paper-details">
    <div class="fw-bold">
        {% if paper.title %}
        {{ paper.title }}
        {% else %}
        Unknown Title
        {% endif %}
    </div>
    {{ paper.authors }} ({{ paper.year }}) in {{ paper.journal }}<br />
    <a href="https://doi.org/{{ paper.doi }}" class="link-secondary" target="_blank">
        {{ paper.doi }}
    </a><br />
    {% if not paper.is_open_access %}
    No Open Access Version Found (<a href="#" class="link-secondary">incorrect?</a>)
    {% endif %}
</div>
{%- endmacro %}

{% macro pathway_details(paper) -%}
<div class="container">
    <div class="publisher-policy">
        <a href='{{ paper.oa_pathway_uri }}' target="_blank" class="link-secondary">
            Learn about applicable Open Access pathways @ Sherpa
        </a>
    </div>
</div>
{%- endmacro %}