{# TODO: Make sure only english phrases and not just the first are displayed. #}
{% import 'search_macros.html' as search %}
{% extends "base_nobs.html" %}

{% block title %}
Free Your Science | {{ author.name }}
{% endblock %}

{% block header %}
<script src="static/authorPapers.js"></script>
{% endblock %}

{% block content %}
<div id="publicationsForAuthor"></div>
<script>
    var app = Elm.Main.init({
        node: document.getElementById('publicationsForAuthor'),
        flags: {
            "dois": {{ dois | safe }},
    "authorName": "{{ author.name }}",
        "authorProfileURL": "{{ author.profile_url }}",
            "serverURL": "{{ serverURL }}"
        }
    });
</script>
{% endblock %}