{% macro form(search_string) -%}
<form method="GET" action="/search" id="search-form">
    <div>
        <div>
            <div>
                <div>
                    <label>Search</label>
                    <input type="text" name="query"
                        placeholder="Author name, ORCID or DOI" required value="{{ search_string }}">
                </div>
                <div>
                    <button type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>
{%- endmacro %}