{% extends "base.html" %}
{% block content %}
<main class="my-5">
    <section class="container mb-5">
        <h2 class="fs-3">
            The Team
        </h2>
        <p>
            <img class="team-portrait" src="static/img/daniel.jpg" alt="Daniel" />
            <img class="team-portrait" src="static/img/lukas.jpg" alt="Lukas" />
        </p>
        <p>
            We are Daniel &amp; Lukas, two open science enthusiasts.
            Having worked in different positions of academia, from being an
            author to supporting institutions with grant writing and being
            part of the publisher side of things, we have come to appreciate
            the open and collaborative spirit of the academic community.
            Nonetheless, we came to acknowledge the constraints that still
            restrict the accessibility of scientific results.
        </p>
        <p>
            Our goal is to foster accessibility and collaboration in the beautiful,
            globally networked academic communities.
            Also, we just can't stand when information that should be freely
            accessible is unnecessarily hidden behind paywalls.
        </p>
        <p>
            Accordingly, our strategy is to:
        <ul>
            <li>create awareness about the potential of publisher's Open Access policies</li>
            <li>help authors understand which research they can free from paywalls</li>
        </ul>
        <p>
            Looking forward, we hope that research institutions, funders and other
            interested parties can use this tool to discover the potential that
            they have to drastically increase the amount of Open Access publications.
        </p>
        <p>
            When we're not working on freeyourscience.org,
            Daniel is a tools and infrastructure software engineer
            and Lukas is a machine learning research engineer.
            Our activity here is linked in no way to these day jobs or our employers,
            and all our opinions are our own.
        </p>
    </section>
</main>
{% endblock %}