{% extends "base_nobs.html" %}
{% block content %}
<main>
    <section>
        <h1>The Team</h1>
        <p>
            <img class="team-portrait" src="static/img/daniel.jpg" alt="Daniel" />
            <img class="team-portrait" src="static/img/lukas.jpg" alt="Lukas" />
        </p>
        <p>
            We are Daniel and Lukas, two open science enthusiasts.
        </p>
        <p>
            Our goal is to foster accessibility and collaboration in the beautiful,
            globally networked academic communities.
            Also, we just can't stand when information that should be freely
            accessible is unnecessarily hidden behind paywalls.
        </p>
        <p>
            Accordingly, our strategy is to:
        <ul>
            <li>create awareness about the potential of publisher's Open Access policies</li>
            <li>help authors understand which research they can free from paywalls</li>
        </ul>
        <p>
            Looking forward, we hope that research institutions, funders and other
            interested parties can use this tool to discover the potential that
            they have to drastically increase the amount of Open Access publications.
        </p>
        <p>
            We have both worked in academia and experienced scientific publications
            in a variety of roles.
            We have been readers, authors, reviewers and editors of works in different fields.
            Even though we have left academia, we still feel a close connection and want to
            help scientists work in the open and foster the collaborative spirit that we got to enjoy.
        </p>
        <p>
            When we're not working on freeyourscience.org,
            Daniel is a tools and infrastructure software engineer
            and Lukas is a machine learning research engineer.
            Our activity here is linked in no way to these day jobs or our employers,
            and all our opinions are our own.
        </p>
    </section>
</main>
{% endblock %}