div.paper-details {
  background: #ffffff;
}

.single-paper .paper-details .paper-title {
  font-size: 150%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.landing-page main {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.usersteps__step {
  display: list-item;
}

.usersteps__step::marker{
  font-size: 3rem;
}

.usersteps__step--active::marker{
  color: #0d6efd;
}