div.paper-details {
  background: #ffffff;
}

.single-paper .paper-details .paper-title {
  font-size: 150%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.landing-page main {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.usersteps {
  list-style: none;
  counter-reset: steps-counter;
  display: flex;
  flex-wrap: wrap;
}

.usersteps__step {
  counter-increment: steps-counter;
  margin: 0.25rem;
  display: flex;
  border: none;
}

.usersteps__step--active::before{
  color: #0d6efd;
}

.usersteps__step::before {
  content: counter(steps-counter);
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-right: 1.5rem;
}

.progressbar__container {
  z-index: 99999;
  height: 4px;
  background: transparent;
  opacity: 1;
  transition: opacity .4s linear .4s;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  outline: 1px solid transparent;
  position: fixed;
  box-sizing: border-box;
  top: 0px;
}

.progressbar_progress {
  background-color: rgb(121, 184, 255);
  width: 100%;
  box-shadow: 0 0 10px rgba(121,184,255,.7);
  transition: width .4s ease;
  outline: 2px solid transparent;
  box-sizing: border-box;
}