div.paper-details {
    background: #ffffff;
}

.single-paper .paper-details .paper-title {
    font-size:150%;
    margin-top:2em;
    margin-bottom:1em;
}

.numberonwall {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2rem;
   margin-bottom: 4rem;
   width: 40rem;
}

.numberonwall__left {
    line-height: 1;
    border-right: 1px solid lightgray;
    padding-right: 1rem;
    text-align: right;
}

.numberonwall__left--number {
    margin: 0;
    font-size: 7rem;
    font-weight: bold;
}

.numberonwall__left--mill {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

.numberonwall__left--pubs {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 0.25;
}

.numberonwall__right {
    padding-left: 1rem;
    line-height: 1.25;
}

.numberonwall__right p {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 0.25;
}