{% extends "base.html" %}
{% block content %}
<div class="container text-center fs-5">
	<header class="container fs-2 lh-sm mt-5 mb-5">
		<div class="row row-cols-2 justify-content-md-center">
			<div class="col text-end border-end">
				<span class="fw-bold fs-1">46.7 million</span><br />
				publications
			</div>
			<div class="col text-start">
				can be made open access<br />
				for free<br />
				today
			</div>
		</div>
	</header>

	<main>
		<section class="container mb-5">
			<h2 class="fs-3">
				Find papers to liberate
			</h2>
			<form method="GET" action="/authors">
				<div class="row justify-content-md-center row-cols-lg-auto mb-2">
					<div class="col-12 p-1">
						<label class="visually-hidden" for="search-field">Search</label>
						<input type="text" name="profile" class="form-control" id="search-field"
							placeholder="ORCID or Semantic Scholar Profile" required>
					</div>
					<div class="col-12 p-1">
						<button type="submit" class="btn btn-secondary">Search</button>
					</div>
				</div>
				<div class="container fs-6 mt-1">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="search-type" id="search-type-s2"
							value="option1" checked>
						<label class="form-check-label" for="search-type-s2">Semantic Scholar</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="search-type" id="search-type-orcid"
							value="option1">
						<label class="form-check-label" for="search-type-orcid">ORCID</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="search-type" id="search-type-doi"
							value="option2">
						<label class="form-check-label" for="search-type-doi">DOI</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="search-type" id="search-type-name"
							value="option2">
						<label class="form-check-label" for="search-type-name">Author Name (beta)</label>
					</div>
				</div>
				<small class="fs-6">The search might take a minute.</small>
			</form>
		</section>

		<section class="container mb-5">
			<h2 class="fs-4">
				Why is this allowed?
			</h2>
			<p class="fs-5">
				- contrast expectation
				- allowed to re-publish
				- re-publish in free archives / locations
				- open access works separate from the journals (but with consent/conditions); directly linked to
				original
				pub,
				citations stay, but more accessible to the world
				- often no cost
			</p>
		</section>

		<section class="container mb-5">
			<h2 class="fs-4">
				Technical Background
			</h2>
			<p>
				- existing services, amazing
				- combine existing information
				- not a lawyer
				- how we arrive at the number in the header
				- offer this page, but also work on a machine readable interface to give back to open science api
				ecosystem
			</p>
		</section>

		<section class="container mb-5">
			<h2 class="fs-4">
				Our Motivation
			</h2>
			<p>
				- background:
				-- enjoy collaborative spirit of globally networked academic communities
				-- foster accessibility and collaboration
				-- can't stand when information that should be freely accessible is unnecessarily hidden behind paywalls
				- strategy:
				-- tbd
				- for authors:
				-- enable to discover the potential they have with past publications
				- for institutions:
				-- call us
			</p>
		</section>
	</main>

	<footer class="fs-6">
		<small>
			This project is built and run by Daniel Harhoff and Lukas Grossberger.<br />
			Contact us via <a href="mailto:team@freeyourscience.org">team@freeyourscience.org</a>
		</small>
	</footer>
</div>
{% endblock %}