{% extends "base.html" %}
{% block content %}
<div class="container text-center">
	<br>
	<h1>Liberate Science</h1>
	<br>
	<h2>More than {{ n_nocost_papers }} academic publications<br>can be made freely accessible today.</h2>
	<br>
	<p style="font-size:130%">
		Publishers that keep papers behind a paywall often allow re-publishing the paper freely accessible for
		everyone in the world. However, many authors don't know of this opportunity or don't leverage it.
		<br><br>
		Find out which of your papers you are allowed to re-publish today:
	</p>

	<form method="GET" action="/authors">
		<input type="text" name="semantic_scholar_profile" placeholder="Semantic Scholar Profile">
		<input type="submit" class="btn btn-light" value="Search">
	</form>
	<br />
	<p style="font-size:130%">
		... or check by DOI if a paper can be re-published:
	</p>
	<form method="GET" action="/papers">
		<input type="text" name="doi" placeholder="DOI (e.g. 10.1000/1010101)">
		<input type="submit" class="btn btn-light" value="Search">
	</form>
	<br>
	<p>
		This project is built on the datasets and API available by https://unpaywall.org/ as well as the API at
		https://v2.sherpa.ac.uk/api/ and is thereby dependent on the validity of the information collected at
		these services.
		Note, that the information presented on liberate.science is not legal advice or a legal guarantee.
		Specifically does it not relieve any author of the obligations originating from the contract(s) signed
		with respective publishers.
		<br>
		The number 2.000.000 in the header is a conservative estimate, determined via a data analysis pipeline
		that is publically available at https://github.com/erkannt/wissenschaftsbefreiungsfront
		<br>
		Should you be interested in an exchange, coorporation, specific features or support: please contact us
		at info@liberate.science
		<!-- TODO: Instruct authors on how to re-publish appropriately (findable, etc.) -->
	</p>
</div>
<hr>
<p>
<blockquote>
	Cite this project as:<br>
	Daniel Harhoff &amp; Lukas Grossberger, 2020, Liberate Science: A web service to demonstrate the potential
	for re-publishing open access papers. https://doi.org/239.123/123.1222</blockquote>
</p>
{% endblock %}