{% extends "base.html" %}
{% block content %}
<div class="container text-center">
	<br />
	<br />

	<h1 class="fs-2">
		46.7 million publications<br />can be made open access.<br />
		For free.<br />
		Today.
	</h1>
	<br />
	<br />

	<h2 class="fs-4">
		Find papers to free
	</h2>
	<form method="GET" action="/authors">
		By Author <input type="radio" name="search-type" value="author" />
		By DOI <input type="radio" name="search-type" value="doi" /><br />
		<input type="text" name="profile" placeholder="ORCID or Semantic Scholar Profile">
		<input type="submit" class="btn btn-light" value="Search"><br />
		<small>The search might take a minute.</small>
	</form>
	<br />

	<h2 class="fs-4">
		Why is this allowed?
	</h2>
	<p class="fs-5">
		- contrast expectation
		- allowed to re-publish
		- re-publish in free archives / locations
		- open access works separate from the journals (but with consent/conditions); directly linked to original pub,
		citations stay, but more accessible to the world
		- often no cost
	</p>

	<h2 class="fs-4">
		Technical Background
	</h2>
	<p>
		- existing services, amazing
		- combine existing information
		- not a lawyer
		- how we arrive at the number in the header
		- offer this page, but also work on a machine readable interface to give back to open science api ecosystem
	</p>

	<h2 class="fs-4">
		Our Motivation
	</h2>
	<p>
		- background:
		-- enjoy collaborative spirit of globally networked academic communities
		-- foster accessibility and collaboration
		-- can't stand when information that should be freely accessible is unnecessarily hidden behind paywalls
		- strategy:
		-- tbd
		- for authors:
		-- enable to discover the potential they have with past publications
		- for institutions:
		-- call us
	</p>

	<small>
		This project is built and run by Daniel Harhoff and Lukas Grossberger.<br />
		Contact us via <a href="mailto:team@freeyourscience.org">team@freeyourscience.org</a>
	</small>
</div>
{% endblock %}