{# TODO: Make sure only english phrases and not just the first are displayed. #}
{# TODO: Do someting like the Routes to OA section at https://v2.sherpa.ac.uk/id/publisher_policy/2252 #}
{% import 'oa_permissions.html' as oa_permissions %}
{% extends "base.html" %}
{% block content %}
{% for paper in papers %}
<div class="container">
    Title: {{ paper.title }}<br />
    DOI: {{ paper.doi }}<br />
    Open Access: {{ paper.oa_status }}<br />
    Publisher policies potentially allowing open access re-publication:
    <ul>
        {% for details in paper.oa_pathway_details %}
        <li>Open Access Prohibited: {{ details["open_access_prohibited_phrases"][0]["phrase"] }}</li>
        {{ oa_permissions.plaintext(details["permitted_oa"]) }}
        <li><a href='{{ details["uri"] }}' target="_blank">Publisher Policy Details</a></li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}